body{
  background-color: 	#0d192b;
  font-family: 'Outfit', sans-serif;
  text-align: left;
  display: flex; 
  justifiy-content:center; 
  align-items: center;
  min-height:100vh;
}

.card{
  background-color: #14253d;
  border-radius: 1rem;
  box-shadow: 0 0 2px  rgba(0, 0, 0, 0.24);
  height: 35rem;
  width: 20rem;
}

.creator{
  position: relative;
  bottom: 405px;
  left: 1px;
  width: 10%;
}

.image-equilibrium{
  border-radius: 0.5rem;
  position: relative;
  left: 1px;
}

.overlay{
  background-color: #00fff7;
  border-radius: 0.5rem;
  position: relative;
  bottom: 283px;
  left: 21px;
  width: 17.5rem;
  height: 17.5rem;
  opacity: 0;
  transition: .5s ease;
}

.card:hover .overlay {
  opacity: 0.7;
}

.i-view{
  width: 50px;
  position: relative;
  top: 87px;
  left: 96px;
}

.icon-clock{
  width: 20px;
  height: 20px;
  position: relative;
  bottom: 359px;
  left: 175px
}

.icon-ethereum{
  width: 10px;
  height: 20px;
  position: relative;
  bottom: 265px;
  left: 1px
}

.price{
  color: #00fff7;
  position: relative;
  bottom: 303px;
  left: 18px;
  font-size: 15px;
  font-weight: 600;
}

.time{
  color: #8bacda;
  position: relative;
  bottom: 397px;
  left: 200px;
  font-size: 15px;
  font-weight: 400;
}

.author{
  font-size: 15px;
  font-weight: 400;
  position: relative;
  bottom: 448px;
  left: 50px;
}

.creator-name{
  color: white;
}

.creator-name:hover{
  color: #00fff7;
}

img{
  border-radius: 10px;
  margin: 20px 20px 0;
  width: 280px;
  position: relative;
  right: 40px;
}

h1{
  color: white;
  font-size: 23px;
  margin: 0 auto;
  padding-left: 20px;
  padding-top: 0;
  position: relative;
  bottom: 250px;
}

h1:hover{
  color: #00fff7;
}

hr{
  color: #2f415b;
  position: relative;
  right: 1px;
  bottom: 390px;
  border-style: solid hidden none;
  width: 85%;
}

p{
  color: #8bacda;
  font-size: 18px;
  font-weight: 300;
  padding-left: 20px;
  position: relative;
  bottom: 250px;
}
